<%= form_with model: post, data: { turbo: false } do |f| %>
  <div class="field">
    <%= f.label :recipe_name, "レシピ名" %><br>
    <%= f.text_field :recipe_name %>
  </div>
  <div class="field">
    <%= f.label :body, "コメント" %><br>
    <%= f.text_area :body %>
  </div>
  
  <div class="form-group">
    <div id="tag-fields-container">
      <%= f.fields_for :post_tags do |tag_fields| %>
        <div class="tag-field">
          <%= tag_fields.label :tag_id, "タグ" %><br>
          <%= tag_fields.collection_select :tag_id, Tag.all, :id, :name, { include_blank: true }, { class: "form-control" } %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="form-group" id="menu-fields-container">
    <%= f.fields_for :post_menus do |menu_fields| %>
      <div class="menu-field">
        <%= menu_fields.label :menu_id, "メニュー" %><br>
        <%= menu_fields.collection_select :menu_id, Menu.all, :id, :menu_name, { include_blank: true }, { class: "form-control" } %>
        <%= menu_fields.hidden_field :_destroy, class: 'destroy-field' %>
        <%= link_to '削除', '#', class: 'remove-menu-field btn btn-danger' %>
      </div>
    <% end %>
    <%= button_tag 'メニューを追加', type: 'button', id: "add-menu-button", class: "btn btn-primary", data: {turbo: false}%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= javascript_tag do %>
  document.addEventListener("turbo:render", function() {
    const addMenuButton = document.getElementById("add-menu-button");
    const menuFieldsContainer = document.getElementById("menu-fields-container");
    let menuFieldIndex = document.querySelectorAll('.menu-field').length;

    addMenuButton.addEventListener("click", function(event) {
      event.preventDefault(); // デフォルトのフォーム送信を防ぐ
      const newMenuField = createMenuField(menuFieldIndex);
      menuFieldsContainer.appendChild(newMenuField);
      menuFieldIndex++;
    });

    menuFieldsContainer.addEventListener("click", function(event) {
      if (event.target.classList.contains("remove-menu-field")) {
        event.preventDefault();
        const menuField = event.target.closest(".menu-field");
        menuField.querySelector('.destroy-field').value = '1';
        menuField.style.display = 'none';
      }
    });

    function createMenuField(index) {
      const menuField = document.createElement("div");
      menuField.classList.add("menu-field");
      menuField.innerHTML = `
        <div class="menu-field">
          <label for="post_post_menus_attributes_${index}_menu_id">メニュー</label><br>
          <select name="post[post_menus_attributes][${index}][menu_id]" id="post_post_menus_attributes_${index}_menu_id" class="form-control">
            <%= options_from_collection_for_select(Menu.all, :id, :menu_name) %>
          </select>
          <input type="hidden" name="post[post_menus_attributes][${index}][_destroy]" class="destroy-field" value="false">
          <a href="#" class="remove-menu-field btn btn-danger">削除</a>
        </div>
      `;
      return menuField;
    }
  });
<% end %>
