<div class="form-group" id="menu-fields-container">
  <% if @course_sections.present? %>
    <% @course_sections.each do |course_section| %>
      <% course_menu = @post.course_menus.find { |cm| cm.course_section_id == course_section.id } || @post.course_menus.build(course_section_id: course_section.id) %>
      <%= f.fields_for :course_menus, course_menu do |cm| %>
        <div data-controller="autocomplete">
          <%= cm.hidden_field :course_section_id %>
          <%= cm.label :menu_id, course_section.name, class: "block truncate" %>
          <input type="text"
                 data-autocomplete-target="input"
                 data-action="input->autocomplete#search"
                 value="<%= cm.object.menu.try(:menu_name) %>"
                 placeholder="メニューを検索..."
                 class="form-control flex max-w-full break-words whitespace-normal" />
          <ul data-autocomplete-target="results"></ul>
          <%= hidden_field_tag "#{cm.object_name}[menu_id]", cm.object.menu_id, data: { autocomplete_target: "hiddenInput" } %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
