  <div>
    <%= f.label :recipe_name, "レシピ名" %>
    <%= f.text_field :recipe_name %>
  </div>

  <div>
    <%= f.label :body, "説明" %>
    <%= f.text_area :body %>
  </div>

  <h3>コースメニューの追加</h3>
  <%= f.fields_for :course_menus do |cm| %>
    <div>
      <%= cm.label :course_section_id, "コースセクション" %>
      <%= cm.collection_select :course_section_id, CourseSection.all, :id, :name %>
    </div>
    
    <div>
      <%= cm.label :menu_id, "メニューアイテム" %>
      <%= cm.collection_select :menu_id, Menu.all, :id, :menu_name %>
    </div>

  <% end %>

  <div> 
    <%= f.submit "投稿", class: 'btn' %>
  </div>
