<div class="form-group" id="menu-fields-container">
  <% if @course_sections.present? %>
    <% @course_sections.each do |course_section| %>
      <% course_menu = @post.course_menus.find { |cm| cm.course_section_id == course_section.id } || @post.course_menus.build(course_section_id: course_section.id) %>
      <%= f.fields_for :course_menus, course_menu do |cm| %>
        <div class="menu-field max-w-full overflow-hidden break-words">
          <%= cm.hidden_field :course_section_id %>
          <%= cm.label :menu_id, course_section.name, class: "block truncate" %>
          <%= cm.collection_select :menu_id, Menu.all, :id, :menu_name, { include_blank: true }, { class: "form-control flex max-w-full break-words whitespace-normal" } %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>

<div>
  <%= f.label :recipe_name, "アレンジレシピ名" %>
  <%= f.text_field :recipe_name %>
</div>

<div>
  <%= f.label :body, "説明" %>
  <%= f.text_area :body %>
</div>

<div class="action">
  <%= f.submit class: "btn btn-success" %>
</div>