<div class="w-5/6 mx-auto my-4 max-w-screen-xl">
  <div class="card w-full shadow-xl mx-auto mb-8 max-w-sm md:max-w-4xl">

    <%= form_with model: post, local: false do |f| %>
      <div data-controller="tabs" data-tabs-active-tab="bg-blue-500 text-white">
        <ul class="flex border-b border-gray-200">
          <% Tag.all.each_with_index do |tag, index| %>
            <li class="mr-1" data-tabs-target="tab" data-action="click->tabs#change" data-tab="<%= tag.id %>" data-index="<%= index %>">
              <a class="inline-block py-2 px-4 text-blue-500 hover:bg-blue-100 hover:text-blue-700 no-underline" href="#">
                <%= tag.name %>
              </a>
            </li>
          <% end %>
        </ul>

        <!-- タブコンテンツ -->
        <div class="hidden py-4 px-4 border rounded-t-xl rounded-b-xl mx-auto max-w-sm md:max-w-4xl" data-tabs-target="panel" data-tab="arrange">
          <turbo-frame id="arrange-form">
            <%= render partial: 'posts/arrange_form', locals: { f: f } %>
          </turbo-frame>
        </div>
        <div class="hidden py-4 px-4 border rounded-tr-xl rounded-b-xl mx-auto max-w-sm md:max-w-4xl" data-tabs-target="panel" data-tab="pairing">
          <turbo-frame id="pairing-form">
            <%= render partial: 'posts/pairing_form', locals: { f: f } %>　
          </turbo-frame>
        </div>
        <div class="hidden py-4 px-4 border rounded-tr-xl rounded-b-xl mx-auto max-w-sm md:max-w-4xl" data-tabs-target="panel" data-tab="course">
          <turbo-frame id="course-form">
            <%= render partial: 'posts/course_form', locals: { f: f } %>
          </turbo-frame>
        </div>
      </div>

      <div class="action">
        <%= f.submit class: "btn btn-success" %>
      </div>
    <% end %>
  </div>
</div>