<div class="w-5/6 mx-auto my-4 max-w-screen-xl">
  <div class="card w-full mx-auto mb-8 max-w-sm md:max-w-4xl">

    <%= form_with model: post, local: false, html: { multipart: true } do |f| %>
      <div data-controller="tabs" data-tabs-active-tab-class="-mb-px border-l border-t border-r rounded-t-xl">
        <ul class="list-reset flex w-full mx-auto max-w-sm md:max-w-4xl space-x-1">
          <li class="flex-1" data-tabs-target="tab" data-action="click->tabs#change">
            <a class="bg-white inline-block py-2 px-4 font-bold no-underline rounded-t-xl text-center text-sm w-full border-none" href="#">アレンジ</a>
          </li>
          <li class="flex-1" data-tabs-target="tab" data-action="click->tabs#change">
            <a class="bg-white inline-block py-2 px-4 font-bold no-underline rounded-t-xl text-center text-sm w-full border-none" href="#">ペアリング</a>
          </li>
          <li class="flex-1" data-tabs-target="tab" data-action="click->tabs#change">
            <a class="bg-white inline-block py-2 px-4 font-bold no-underline rounded-t-xl text-center text-sm w-full border-none" href="#">コース</a>
          </li>
        </ul>

        <!-- タブコンテンツ -->
        <div class="hidden py-4 px-4 border border-b-0 rounded-tr-xl shadow-xl mx-auto max-w-sm md:max-w-4xl" data-tabs-target="panel">
          <turbo-frame id="arrange-form">
            <%= render partial: 'posts/arrange_form', locals: { f: f } %>
          </turbo-frame>
        </div>
        <div class="hidden py-4 px-4 border border-b-0 rounded-t-xl shadow-xl mx-auto max-w-sm md:max-w-4xl" data-tabs-target="panel"">
          <turbo-frame id="pairing-form">
            <%= render partial: 'posts/pairing_form', locals: { f: f } %>
          </turbo-frame>
        </div>
        <div class="hidden py-4 px-4 border border-b-0 rounded-tl-xl shadow-xl mx-auto max-w-sm md:max-w-4xl" data-tabs-target="panel" data-tab="course">
          <turbo-frame id="course-form">
            <%= render partial: 'posts/course_form', locals: { f: f } %>
          </turbo-frame>
        </div>
        <div class="py-4 px-4  w-full bg-white border border-t-0 rounded-b-xl shadow-xl">
          <div>
            <%= f.label :recipe_name, "アレンジタイトル" %>
            <%= f.text_field :recipe_name, class:"textarea textarea-bordered textarea-xs w-full max-w-xs" %>
          </div>
          <div>
            <%= f.label :body, "説明" %>
            <%= f.text_area :body, class:"textarea textarea-bordered textarea-xs w-full max-w-xs" %>
          </div>
          <div>
            <%= f.label :images, '画像選択' %>
            <%= f.file_field :images, multiple: true, class: "form-control file-input file-input-sm file-input-bordered w-full mb-3" %>
          </div>
          <div class="action">
            <%= f.submit class: "btn btn-success" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
