<div class="form-group" id="menu-fields-container">
  <p>ペアリングメニュー作成に必要なメニュー商品を入力してください</p>
  <p class="mb-4"><%= link_to "メニュー一覧（外部リンク）", "https://book.saizeriya.co.jp/library/menu1907/book/list", target: :_blank, class: "text-blue-500 " %></p>
  <%= cocooned_container do %>
    <%= f.fields_for :pairing_menus do |menu_fields| %>
      <div class="menu-field item-center">
        <%= render 'pairing_menu_fields', f: menu_fields %>
      </div>
    <% end %>
    <div class="flex justify-center">
      <%= cocooned_add_item_link '追加', f, :pairing_menus, layout: false,class: "btn btn-primary btn-sm" %>
    </div>
    <div class="mt-4 border-dotted border-2 border-t-0 border-gray-400">
    </div>
  <% end %>
</div>