<div class="form-group" id="menu-fields-container">
  <%= cocooned_container do %>
    <%= f.fields_for :pairing_menus do |menu_fields| %>
      <div class="menu-field">
        <%= render 'pairing_menu_fields', f: menu_fields %>
      </div>
    <% end %>
    <%= cocooned_add_item_link 'Add an item', f, :pairing_menus, layout: false, class: "btn btn-primary" %>
  <% end %>
</div>


<div>
  <%= f.label :recipe_name, "レシピ名" %>
  <%= f.text_field :recipe_name %>
</div>

<div>
  <%= f.label :body, "説明" %>
  <%= f.text_area :body %>
</div>
