  <div>
    <%= f.label :recipe_name, "レシピ名" %>
    <%= f.text_field :recipe_name %>
  </div>

  <div>
    <%= f.label :body, "説明" %>
    <%= f.text_area :body %>
  </div>




  <div>
    <%= f.submit "投稿", class: 'btn' %>
  </div>

