<div class="mt-16 mb-16">
  <h1>投稿詳細</h1>
  <% if logged_in? && current_user.own?(@post) %>
    <%= link_to '編集', edit_post_path(@post), class: 'btn btn-primary', data: {turbo: false} %>
    <%= link_to '削除', post_path(@post), data: { turbo_confirm: '本当に削除しますか？', turbo_method: :delete }, class: 'btn btn-danger', style: 'margin-left: 10px;' %>
  <% end %>
  <% if logged_in? %>
    <div class="flex items-center">
      <%= render 'like_or_unlike', { post: @post } %>
    </div>
  <% else %>
    <div class="flex items-center">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" class="size-5">
        <path d="m11.645 20.91-.007-.003-.022-.012a15.247 15.247 0 0 1-.383-.218 25.18 25.18 0 0 1-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0 1 12 5.052 5.5 5.5 0 0 1 16.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 0 1-4.244 3.17 15.247 15.247 0 0 1-.383.219l-.022.012-.007.004-.003.001a.752.752 0 0 1-.704 0l-.003-.001Z" />
      </svg>
      <%= @post.likes.count %>
    </div>
  <% end %>
  <% if @post.tags.any? %>
    <ul class="tag-list">
      <% @post.tags.each do |tag| %>
        <li class="tag-item"><%= tag.name %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="post-body">
    <p><%= @post.body %></p>
  </div>

  <% if @post.menus.any? %>
    <div class="menu-list">
      <% @post.menus.each do |menu| %>
        <div class="menu-item">
          <h3><%= menu.menu_name %></h3>
          <p><%= menu.price %>円</p>
          <p>No.<%= menu.menu_no %></p>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="total-price">
    <h2>合計金額: <%= @post.total_price %> 円</h2>
  </div>

  <%= link_to '投稿一覧へもどる', posts_path %>
</div>