<h1>投稿詳細</h1>  

<% if current_user.own?(@post) %>
  <%= link_to '編集', edit_post_path(@post) %>
<% end %>
<% if @post.tags.any? %>
  <ul class="tag-list">
    <% @post.tags.each do |tag| %>
      <class="tag-item"><%= tag.name %>
    <% end %>
  </ul>
<% end %>
<p><%= @post.body %></p>
<% @post.menus.each do |menu| %>
  <div>
    <%= menu.menu_name %>
    <%= menu.price %>円
    No.<%= menu.menu_no %>
  </div>
<% end %>
合計金額: <%= @post.total_price %> 円