<div class="w-5/6 mx-auto my-16 max-w-screen-xl">
  <div class="card lg:card-side bg-base-100 shadow-xl">
      <div class="swiper">
        <div class="swiper-wrapper">
          <% @post.images.each do |image| %>
            <div class="swiper-slide">
              <%= image_tag image.url, class: 'rounded-xl', style: 'width: 640px; height: 480px;' %>
            </div>
          <% end %>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    <div class="card-body">
      <!-- タグといいねボタンのセクション -->
      <div class="flex justify-between items-end">
        <div class="badge badge-primary">
          <%= @post.tags.map(&:name).join(', ') %>メニュー
        </div>
        <div>
          <% if logged_in? %>
            <%= render 'like_or_unlike', { post: @post } %>
          <% else %>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" class="size-5">
              <path d="m11.645 20.91-.007-.003-.022-.012a15.247 15.247 0 0 1-.383-.218 25.18 25.18 0 0 1-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0 1 12 5.052 5.5 5.5 0 0 1 16.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 0 1-4.244 3.17 15.247 15.247 0 0 1-.383.219l-.022.012-.007.004-.003.001a.752.752 0 0 1-.704 0l-.003-.001Z" />
            </svg>
            <%= @post.likes.count %>
          <% end %>
        </div>
      </div>

      <!-- 投稿内容 -->
      <div class="my-4">
        <div class="divider">レシピタイトル</div>
        <p class="font-bold text-center "><%= @post.recipe_name %></p>
      </div>  
      <div class="divider">
        <%= @post.tags.map(&:name).join(', ')%>メニュー
      </div>
      
      <% @post.course_related_menus.each do |menu| %>
        <div class="menu-item flex items-center tooltip" data-tip="メニューNo.<%= menu.menu_no %>">
          <span class="w-2/3 text-left"><%= menu.menu_name %></span>
          <span class="w-1/3 text-right"><%= menu.price %>円</span>
        </div>
      <% end %>
      <% @post.arrange_related_menus.each do |menu| %>
        <div class="menu-item flex items-center tooltip" data-tip="メニューNo.<%= menu.menu_no %>">
          <span class="w-2/3 text-left"><%= menu.menu_name %></span>
          <span class="w-1/3 text-right"><%= menu.price %>円</span>
        </div>
      <% end %>
      <% @post.pairing_related_menus.each do |menu| %>
        <div class="menu-item flex items-center tooltip" data-tip="メニューNo.<%= menu.menu_no %>">
          <span class="w-2/3 text-left"><%= menu.menu_name %></span>
          <span class="w-1/3 text-right"><%= menu.price %>円</span>
        </div>
      <% end %>

      <!-- 合計金額 -->
      <div class="total-price my-4 text-center">
        <h2>合計金額: <%= @post.total_price %> 円</h2>
      </div>

      <!-- 投稿内容 -->
      <div class="my-4">
        <div class="divider">コメント</div>
        <p><%= @post.body %></p>
        <div class="border my-4">
      </div>
 
      <!-- 編集・削除ボタン -->
      <% if logged_in? && current_user.own?(@post) %>
        <div class="flex gap-4 my-4">
          <%= link_to '編集', edit_post_path(@post), class: 'btn btn-primary', data: { turbo: false } %>
          <%= link_to '削除', post_path(@post), data: { turbo_confirm: '本当に削除しますか？', turbo_method: :delete }, class: 'btn btn-danger' %>
        </div>
      <% end %>

      <!-- 戻るボタン -->
      <div class="mt-4">
        <%= link_to '投稿一覧へもどる', posts_path, class: 'btn btn-secondary' %>
      </div>


    </div>
  </div>
</div>
