<h1>投稿詳細</h1>
<p><%= @post.body %></p>
<% @post.menus.each do |menu| %>
  <div>
    <%= menu.menu_name %>
    <%= menu.price %>円
    No.<%= menu.menu_no %>
  </div>
<% end %>
合計金額: <%= @post.total_price %> 円